
.DS_Store
06_Analyses/.DS_Store
code/.DS_Store
Scripts/.DS_Store
Scripts/01_Genome_assembly/.DS_Store
Scripts/01_Genome_assembly/Quality_evaluation/.DS_Store
Scripts/01_Genome_assembly/Species_barcoding/bitacora_nt/.DS_Store
Scripts/01_Genome_assembly/Species_barcoding/.DS_Store
Scripts/02_Repeat_annotation/.DS_Store
Scripts/03_Gene_annotation/.DS_Store
Scripts/03_Gene_annotation/scripts/.DS_Store
Scripts/02_Repeat_annotation/scripts/.DS_Store
Scripts/04_Gene_re-annotation/.DS_Store
Scripts/04_Gene_re-annotation/.Rhistory
Scripts/04_Gene_re-annotation/Chemosensory_gene_families/.DS_Store
Scripts/04_Gene_re-annotation/Pipeline_scripts/.DS_Store
Scripts/04_Gene_re-annotation/scripts_bin/.DS_Store
Scripts/05_Functional_annotation/.DS_Store
Scripts/06_Analyses/.DS_Store
Scripts/06_Analyses/Orthology/.DS_Store
04_Gene_re-annotation/.DS_Store
.DS_Store
